[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw/
	branch = latest
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad
	branch = c
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/Simple-OpenGL-Image-Library"]
	path = deps/Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
